.lession-title {
    position: relative;
    width: 75vw;
    padding-bottom: 4.39vw;
    margin: 3.15vw auto 0;
}
.title {
    position: relative;
    padding: 3.29vw 0 3.37vw 3.95vw;
    color: #fff;
    display: block;
    background-color: #24c6b5;
	border-radius: 1.58vw 1.58vw 0.32vw 0.32vw;
}
.title-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title div span {
    position: relative;
	font-family: MicrosoftYaHei-Bold;
	font-size: 2.1vw;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.21vw;
	color: #ffffff;
}

.trial-time {
    position: relative;
    width: 6.88vw;
    height: 2.27vw;
    float: left;
    margin-left: 2.56vw;
    background-color: #48ffec;
    border-radius: 1.07vw;
    font-family: MicrosoftYaHei;
    font-size: 1.23vw;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.25vw;
    color: #643784;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-wrap{
    position: relative;
    padding: 3.15vw 3.73vw 0;
    border-radius: 0 0 1.58vw 1.58vw;
    background-color: #ffffff;
}

.progress-text {
    position: absolute;
    top: 1vw;
    left: 3.73vw;
    color: #1b1243;
    font-family: MicrosoftYaHei;
    font-size: 0.88vw;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.04vw;
    color: #6b6b6b;
}
.progress-bar{
    position: relative;
    width: 100%;
    height: 1.17vw;
    border-radius: 0.32vw;
    background: #EEEEEE;
}
.progress-num {
    z-index: 1;
    color: #31285d;
    font-weight: 600;
}
.progress-num>img {
    width: 2.56vw;
    position: absolute;
    top: -2.2vw;
    right: -0.6vw;
}

.progress-num >span {
    position: absolute;
    font-family: MicrosoftYaHei;
    font-size: 0.79vw;
    font-weight: normal;
    font-stretch: normal;
    width: 2.56vw;
    text-align: center;
    top: -1.9vw;
    right: -0.6vw;
    margin: 0 auto;
    vertical-align: middle;
}

.move-progress {
    position: absolute;
    left: 0;
    top: -0.295vw;
    width: 0;
    height: 1.76vw;
    border-radius: 0.32vw;
    z-index: 1;
    background-image: linear-gradient(-90deg,	#fa386a 0%, 	#32b1ec 100%);
}

.progress-arrow {
    float: right;
    margin-right: 0.88vw;
    opacity: .4;
    height: 1.76vw;
}

.recent-level {
    width: 67vw;
    padding: 4.25vw 0 2.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.level-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 29.8vw;
}

.level-text>span:first-child {
    display: inline-block;
    font-weight: 600;
    font-family: MicrosoftYaHei;
    font-size: 1.58vw;
    font-stretch: normal;
    letter-spacing: 0.16vw;
    color: #241752;
    word-break: keep-all;
}

.level-text>span:last-child {
    color: #1b1243;
    font-weight: 300;
    font-family: MicrosoftYaHeiLight;
    font-size: 1.23vw;
    letter-spacing: 0.12vw;
    color: #241752;
    margin-top: 0.3vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
}
.recent-level>button {
    border: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    float: right;
    background-color: #1497f9;
    border-radius: 1.67vw;
    color: #fefefe;
    letter-spacing: 0.31vw;
    font-family: MicrosoftYaHei;
    font-size: 1.58vw;
    font-weight: normal;
    font-stretch: normal;
    width: 13.69vw;
    height: 3.37vw;
}
.recent-level>button:hover {
    background-color: #00b4ff;
}